.playersPage {
  padding: 12px 8px;
}

.playersbanner {
  width: 100%;
  height: 500px;
}

input[type=text] {
  width: 436px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 12px;
  margin-left: 12px;
  transition: width 0.4s ease-in-out;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


@media only screen and (max-width: 600px) {
  input[type=text] {
    width: calc(100% - 12px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
    margin-left: 4px;
    margin-bottom: 18px;
    transition: width 0.4s ease-in-out;
  }

  .playerContainer {
    width: 100%;
  }

  input[type=text]:focus {
    width: calc(100% - 24px);
  }

  .playersbanner {
    width: 100%;
    height: 200px;
  }
}