.latest {
  padding: 8px 8px 24px 8px;
}

.article {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}

.headline {

}

.text {
  font-size: 14px;
  white-space: pre-line;
}

.title {
  padding: 4px 0;
  color: #666666;
}

.video {
  padding: 18px 0;
}

.img-container {
  display: flex;
  margin: 12px 0;
}

.article-img {
  width: 100%;
}