.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 2px 2px;
  border: 1px solid #3a0313;
  padding: 8px;
  min-width: 108px;
  font-size: 14px;
}

.tabActive {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 2px 2px;
  border: 1px solid #3a0313;
  padding: 8px;
  min-width: 108px;
  font-size: 14px;
  background-color: #8a2432;
  color: white;
}


@media only screen and (min-width: 800px) {
  .tab {
    padding: 12px;
  }

  .tabActive {
    padding: 12px;
  }
}